In [ ]:
import requests
from bs4 import BeautifulSoup

WIKI_URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

req = requests.get(WIKI_URL)
soup = BeautifulSoup(req.content, 'lxml')
#table_classes = {"class": ["sortable", "plainrowheaders"]}
wikitables = soup.findAll("table", class_='wikitable')

print(soup)

In [8]:
type(soup)

bs4.BeautifulSoup

In [13]:
data = []
table = soup.find('table', class_ ='wikitable')
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [17]:
type(data)

list

In [105]:
import pandas as pd
import numpy as np

#df = pd.DataFrame(np.array(data).reshape(290,2), columns = list("abc"))

df = pd.DataFrame(data)

df.drop([0], inplace=True)

df = df.reset_index(drop=True)

df.columns = ['PostalCode', 'Borough','Neighborhood']

df.head(10)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Not assigned
9        M8A      Not assigned      Not assigned

In [92]:
df.shape

(289, 3)

In [106]:
indexRow = df[ df['Borough'] == 'Not assigned' ].index

print(indexRow)


# Delete these row indexes from dataFrame
#dfObj.drop(indexRow , inplace=True)

Int64Index([  0,   1,   9,  13,  20,  21,  30,  36,  37,  45,  46,  50,  51,
             52,  54,  55,  59,  60,  61,  73,  74,  75,  88,  89,  90, 104,
            105, 106, 120, 121, 136, 137, 148, 149, 155, 161, 162, 167, 175,
            181, 182, 188, 189, 190, 194, 195, 201, 202, 203, 204, 209, 210,
            223, 224, 238, 239, 242, 243, 248, 249, 254, 255, 259, 260, 261,
            262, 264, 265, 275, 276, 277, 278, 279, 280, 281, 282, 288],
           dtype='int64')

In [69]:
len(indexRow)

77

In [107]:
df.drop(indexRow , inplace=True)
df = df.reset_index(drop=True)

In [108]:
df.shape

(212, 3)

In [112]:
df_new = df.groupby(['PostalCode','Borough'], sort = False).agg(lambda x: ','.join(x))

In [116]:
#df = df.reset_index(drop=True)
df_new = df_new.reset_index()

In [118]:
df_new.head(5)

  PostalCode           Borough                     Neighborhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Not assigned

In [124]:
df_new.loc[(df_new['Borough'] != "Not assigned") & (df_new['Neighborhood'] == "Not assigned" )]

  PostalCode       Borough  Neighborhood
4        M7A  Queen's Park  Not assigned

In [133]:
df_new.loc[4,'Neighborhood'] = 'Queen\'s Park'

In [134]:
df_new.loc[4]

PostalCode               M7A
Borough         Queen's Park
Neighborhood    Queen's Park
Name: 4, dtype: object

In [135]:
df_new.shape

(103, 3)

In [126]:
#indexChange = df_new.loc[(df_new['Borough'] != "Not assigned") & (df_new['Neighborhood'] == "Not assigned" )].index

In [127]:
df_new['ni'] = df['n'].replace({'a': 'x', 'b': 'y', 'c': 'w', 'd': 'z'})

Int64Index([4], dtype='int64')

In [129]:
df_new.iloc[4].replace
#df_new['n'] = df['n'].replace({'a': 'x', 'b': 'y', 'c': 'w', 'd': 'z'})

PostalCode               M7A
Borough         Queen's Park
Neighborhood    Not assigned
Name: 4, dtype: object