<h1>Adding the latitudes and longitudes to Toronto Neighborhoods</h1>

<h3>This is using the csv file from <em>http://cocl.us/Geospatial_data.</em></h3>

In [30]:
import pandas as pd

#Retrieve dataframe that was processed earlier from TorontoNeighv1.ipynb.
df_TorontoClean = pd.read_pickle("df_TorontoClean.pkl")

In [31]:
import urllib.request

csv_url = 'http://cocl.us/Geospatial_data'

urllib.request.urlretrieve(csv_url, 'lat_lng_coords.csv')

('lat_lng_coords.csv', <http.client.HTTPMessage at 0x7f5c8bf385c0>)

In [32]:
lat_lng_coords_df = pd.read_csv('lat_lng_coords.csv')
lat_lng_coords_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [33]:
lat_lng_coords_df.shape

(103, 3)

In [24]:
lat_lng_coords_df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [25]:
lat_lng_coords_df.columns

Index(['PostalCode', 'Latitude', 'Longitude'], dtype='object')

In [26]:
#Merge the two dataframes to one with the latitude and longitude information
TorontoNeigh_loc = pd.merge(lat_lng_coords_df, df_TorontoClean, on='PostalCode', how='outer')

In [27]:
TorontoNeigh_loc.columns

Index(['PostalCode', 'Latitude', 'Longitude', 'Borough', 'Neighborhood'], dtype='object')

In [28]:
#Rearrange the columns
TorontoNeigh_loc = TorontoNeigh_loc[['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]
TorontoNeigh_loc.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [16]:
#Retrieved Boroughs with Toronto in the name
CentralTorontoNeigh = TorontoNeigh_loc[TorontoNeigh_loc['Borough'].str.contains("Tor")]

In [18]:
print(CentralTorontoNeigh.shape)
CentralTorontoNeigh.head()

(38, 5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West,Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"The Beaches West,India Bazaar",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

<h3>End of 2nd part, adding the latitude and longitude information.</h3>